:root{
    --blanco: #ffff;
    --secundario: #45b39d; 
    --primario: #1a3c5e;
    --semiblanco: #F5F5F5;
    --body:  #eff1f1;
    --gris: #757575;
    --psobremi:  #d7dada;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;  /* Hack para box model */
    /* scroll-snap-type: y mandatory; */
}
/* .servicios, .navegacion-principal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */

/* * Selecciona todos los elementos de html */
/* 
        before and after
after: Contenido que no existe y es un pseudoelemento.
 para que no le afecte despues de colocar un elemento

before: Contenido que no existe y es un pseudoelemento.
 para que no le afecte antes de colocar un elemento
*/
*, *:before, *:after{
    box-sizing: inherit;
}
    /* GLOBALES */
body{
    font-size: 16px; /*1 rem = 10 pixeles*/
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, --body 0%, var(--blanco) 100%);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: #1a3c5ea2 ;
    color: rgba(255, 255, 255, 0.483);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
    background-color: var(--primario);
    color: var(--blanco);
}
.centrado-padding{
    padding: 2rem;
}
    /* TIPOGRAFIA */

h2{
    font-size: 3.8rem;
    font-weight: bold;
    text-align: left;
    margin: 25px;
}
h3{
    font-size: 1.8rem;
}
h1,h3{
    text-align: center;
}
@media (min-width: 768px) {
    h1{
        font-size: 6rem;
    }
}
    /*CARDS*/
.servicio-camaras{
    background-image: url(../images/camara-poe-servicio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px; 
    width: 100%;
    position: relative;
    border-radius: 20px;
}
.servicio-mantenimiento-computadoras{
    background-image: url(../images/mantenimiento-computadora-servicio.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px; 
    width: 100%;
    position: relative;
    border-radius: 20px;
}
.servicio-accesspoint-repetidoreswifi{
    background-image: url(../images/repetidores-instalacion-servicios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px; 
    width: 100%;
    position: relative;
    border-radius: 20px;
}
.servicio-desarrolloweb-programacion{
    background-image: url(../images/desarrolloweb-programacion-servicios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px; 
    width: 100%;
    position: relative;
    border-radius: 20px;
}
.servicio-informacion{
    background-color: rgba(0, 0, 0, 0.784);
    /* background-color: rgb(0 0 0 / 7% ); */
    display: flex; /**Cuando utilizas esto alineas con justify-content**/
    flex-direction: column; /**Ya no alinear con justify**/
    align-items: center; /**Alineas horizontalmente**/
    justify-content: center;
    /* border-radius: 15px 15px 0 0; */
    height: 470px; 
    border-radius: 20px;
}
.servicio-informacion:hover{
    background-color: rgba(0, 0, 0, 0.659);
}
.servicio-texto{
    color: rgba(255, 255, 255, 0.815);
}
@media (max-width: 768px) {
    .servicio-camaras,
    .servicio-mantenimiento-computadoras,
    .servicio-accesspoint-repetidoreswifi,
    .servicio-desarrolloweb-programacion
    {
        border-radius: 0px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 10px;
        background-position: center center;
    }
    .servicio-informacion{
        border-radius: 0px;
    }
    .boton{
        background-color: var(--primario);
        color: white;
    }
    .servicio-texto{
        font-size: 25px;
    }
    h2{ 
        font-size: 25epx;
        margin: 18px
    }
}
    /* HERO */
.hero{
    background-image: url(../images/banner-inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    height: 500px;
    position: absolute;
    background-color: rgba(0,0,0, .784); 
    /* background-color: rgb(0 0 0 / 7% ); */
    width: 100%;
    height: 100%;
    display: flex; /**Cuando utilizas esto alineas con justify-content**/
    flex-direction: column; /**Ya no alinear con justify**/
    align-items: center; /**Alineas horizontalmente**/
    justify-content: center;
}
.contenido-hero h2, .contenido-hero a, .contenido-hero p,
.contenido-hero-clientes h2, .contenido-hero-clientes p
{
    color: var(--blanco);
}
h1{
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}
    /* SERVICIOS */
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}

.footer{
    text-align: center;
}
    /* Ubicacion */
.ubicacion{
    width: 100%;
    height: 600px;
}
